.news-article {
    background: #fdfdfd;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 15px 5px;
}
.news-article div {
    margin-bottom: 15px;
}

#search-results {
    max-height: 500px;
    overflow-y: auto;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}
.error {
    color: red;
    margin-bottom: 15px;"
}

.success {
     color: green;
     margin-bottom: 15px;"
 }

.notification-container {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.notification {
    position: relative;
    left: -100%;
    width: 300px;
    background: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: auto;
}

.notification.show {
    left: 0;
    opacity: 1;
}

.notification.hide {
    left: 100%;
    opacity: 0;
}

.notification-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.notification-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.table {
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px 10px;
}

.header {
    padding: 10px;
    background: khaki;
}

.header span {
    display: inline;
    margin: 10px;
}

.search {
    width: 400px;
    background: #F15B42;
}
.search form {
    background: #F9F0DA;
    border-bottom: 4px solid #be290e;
}
.search input {
    border: none;
    outline: none;
    background: transparent;
}
.search input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}

.text-field {
    margin-bottom: 1rem;
    width: 300px;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(0.7rem + 2px);
    padding: 0.275rem 0.55rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

/* with floating label */
.text-field_floating-3 {
    position: relative;
}

.text-field_floating-3 .text-field__input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: calc(1.3rem + 2px);
    line-height: 1.25;
    padding: 0.75rem 0.55rem;
    background-color: #f5f5f5;
}

.text-field_floating-3 .text-field__input:focus {
    outline: 0;
    border-bottom: 1px solid #03a9f4;
    box-shadow: none;
    background-color: #eee;
}

.text-field_floating-3 .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: color .15s ease-in-out, transform .15s ease-in-out;
}

.text-field_floating-3 .text-field__input::-moz-placeholder {
    color: transparent;
}

.text-field_floating-3 .text-field__input::placeholder {
    color: transparent;
}

.text-field_floating-3 .text-field__input:focus,
.text-field_floating-3 .text-field__input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid #03a9f4;
}

.text-field_floating-3 .text-field__input:focus~.text-field__label,
.text-field_floating-3 .text-field__input:not(:placeholder-shown)~.text-field__label {
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
    color: #03a9f4;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #3775dd;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn:hover {
    background-color: #002fed;
}
.btn:active {
    background-color: #2f599e !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}

.header .flright {
    float: right;
    margin: 0 !important;
}

.clear {
    clear: both;
}

.pag-inline li {
    display: inline;
}

.pag-inline li.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.pag-inline li.disabled a {
    color: #999 !important;
    text-decoration: none !important;
}

.pag-inline li.active {
    background-color: #007bff;
    border-radius: 4px;
}

.pag-inline li.active a {
    color: white !important;
    font-weight: bold;
    pointer-events: none;
}